

body {
    width: 100%;
    animation: pulse 40s infinite;
}

.carousel-inner > .item {
    margin-top: 100px;
    
    
   
}
.carousel-inner > .item > ul {
    text-align: center;
    
}
.carousel-inner > .item > ul li {
    display: inline;
    margin-right: 50px;
  
 
}

.carousel-inner > .item > ul li img {
    opacity: 0.25;
   
}
    
.carousel-inner > .item > ul li img:hover{
    cursor: pointer;
    opacity: 0.75;
}


.container {
    margin: auto;
    width: 70%;
    height: 60%;
    margin-top: 100px;
}




#myCarousel > a{
    top: 160px;
    display: none;
}

.progress {
    width:70%;
    position: relative;
    margin: auto;
}



 @keyframes pulse {
  0% {background: darkslategray}
  10% { background: #191970;}    
  25% { background: #6a5acd;}  
  40% { background: cadetblue;}
  55% { background: seagreen;}
  70%{ background: #f4a460;}  
  85% { background: chocolate;}
  100% { background: brown;}    
 
 
 }

 @-webkit-keyframes pulse {
      0% {background: darkslategray}
  10% { background: #191970;}    
  25% { background: #6a5acd;}  
  40% { background: cadetblue;}
  55% { background: seagreen;}
  70%{ background: #f4a460;}  
  85% { background: chocolate;}
  100% { background: brown;}    
 }

 @-moz-keyframes pulse {
  0% {background: darkslategray}
  10% { background: #191970;}    
  25% { background: #6a5acd;}  
  40% { background: cadetblue;}
  55% { background: seagreen;}
  70%{ background: #f4a460;}  
  85% { background: chocolate;}
  100% { background: brown;}        
 }

 
 