@using System.Web.Optimization
@inherits System.Web.Mvc.WebViewPage



<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="icon" type="image/ico" href="~/Images/favicon.ico" />
    <title>Alkohl</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")


</head>
<body>
<div class ="kontenter">
<div class="loader">

</div>
</div>
</body>
