@using System.Web.Optimization
@inherits System.Web.Mvc.WebViewPage







<!DOCTYPE html>
<html>
<head>
    <meta charset ="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Alkohl</title>
    @*  <link rel="stylesheet" href="~/Content/Site.css"/>*@
    @Styles.Render("~/Content/css")
    
   

</head>
<body>



<h2>
    Ankieta alkoholowa
</h2>
<p> czerwony</p>
    <button type="button" class="btn btn-danger">Danger</button>

</body>


</html>
