@using System.Threading
@using System.Web.Mvc.Html
@using System.Web.Optimization
@using AnkietaAlkoholowa.Controllers
@*@inherits System.Web.Mvc.WebViewPage*@
@model AnkietaAlkoholowa.Models.Record
  


    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/ico" href="~/Images/favicon.ico" />
        <title>Alkohl</title>
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>



<body>


    <div class="container">


        <div id="myCarousel" class="carousel slide">



            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <h1> Wybierz płeć </h1>

                    <div class="col-xs-12 col-sm-4">
                        <img src="~/Images/boy.png" onclick="myFunction(0, 0)" />
                    </div>
                    <div class="col-xs-12 col-sm-4">

                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <img src="~/Images/girl.png" onclick="myFunction(0, 1)" />
                    </div>
                </div>


                <div class="item">
                    <h1>Wybierz przedział wiekowy</h1>
                    <div class="col-xs-12 col-sm-4">
                        <img src="~/Images/18.png" onclick="myFunction(1, 0)" />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <img src="~/Images/1825.png" onclick="myFunction(1, 1)" />

                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <img src="~/Images/25.png" onclick="myFunction(1, 2)" />
                    </div>
                </div>
                <div class="item">


                    <h1>Wybierz szkołę do jakiej chodzisz</h1>

                    <div class="col-xs-12 col-sm-4">
                        <button type="button" class="btn btn-primary" onclick="myFunction2(2, 0)">Gimnazjum</button>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button type="button" class="btn btn-success" onclick="myFunction2(2, 1)"> Liceum</button>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button type="button" class="btn btn-danger" onclick="myFunction2(2, 2)"> Studia wyzsze</button>
                    </div>
                </div>
                <div class="item">
                    <h1>Wybierz miejsce zamieszkania</h1>


                    <div class="col-xs-12 col-sm-4">
                        <img src="~/Images/cottage.png" class="img-circle" onclick="myFunction(3, 0)" />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <img src="~/Images/city.png" class="img-circle" onclick="myFunction(3, 1)" />
                    </div>
                </div>
                <div class="item">
                    <h1>Wybierz preferowany alkohol</h1>


                    <div class="col-xs-12 col-sm-4"><img src="~/Images/beer.png" onclick="myFunction(4, 0)" /></div>
                    <div class="col-xs-12 col-sm-4"><img src="~/Images/vodka.png" onclick="myFunction(4, 1)" /></div>
                    <div class="col-xs-12 col-sm-4"><img src="~/Images/wine.png" onclick="myFunction(4, 2)" /></div>

                </div>
                <div class="item">
                    <h1> Jak często ? </h1>
                    <div class="col-xs-12 col-sm-4"><button type="button" class="btn btn-primary" onclick="myFunction2(5, 0)">Codziennie</button></div>
                    <div class="col-xs-12 col-sm-4"><button type="button" class="btn btn-success" onclick="myFunction2(5, 1)">Sporadycznie</button></div>
                    <div class="col-xs-12 col-sm-4"><button type="button" class="btn btn-danger" onclick="myFunction2(5, 2)"> Nigdy</button></div>
                </div>
                <div class="item">
                    <h1> Gdzie? </h1>
                    <div class="col-xs-12 col-sm-4"><button type="button" class="btn btn-primary" onclick="myFunction2(6, 0)">W domu</button>    </div>
                    <div class="col-xs-12 col-sm-4"><button type="button" class="btn btn-success" onclick="myFunction2(6, 1)">W plenerze</button></div>
                    <div class="col-xs-12 col-sm-4"><button type="button" class="btn btn-danger" onclick="myFunction2(6, 2)">Na imprezie</button></div>
                </div>

                <div class="item">
                    <h1> Bywasz agresywny ? </h1>
                    <div class="col-xs-12 col-sm-4"><a onclick="myFunction3(7,0)"><span class="glyphicon glyphicon-thumbs-up"></span></a>  </div>
                    <div class="col-xs-12 col-sm-4"></div>
                    <div class="col-xs-12 col-sm-4"><a onclick="myFunction3(7,1)"><span class="glyphicon glyphicon-thumbs-down"></span></a></div>

                </div>
                <div class="item">
                    <h1> Kac dnia następnego ? </h1>
                    <div class="col-xs-12 col-sm-4"><a onclick="myFunction3(8,0)"><span class="glyphicon glyphicon-thumbs-up"></span></a>  </div>
                    <div class="col-xs-12 col-sm-4"></div>
                    <div class="col-xs-12 col-sm-4"><a onclick="myFunction3(8,1)"><span class="glyphicon glyphicon-thumbs-down"></span></a></div>
                </div>




            </div>

            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" data-interval="false" onclick="reset()">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="false"></span>
            </a>

        </div>



    </div>


    <div id="pasek" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>




</body>

    <script>
        var value = 0;
        var stopFade = false;
        var arrayInput = [];
        var booleanInput = [];
        var arr2;

        function reset() {
            $('.carousel-control').css("display","none");
            stopFade = true;
            var ja = document.getElementById("myCarousel").getElementsByTagName("a");
            ja[4].style.display = "none";
            value += 100/9;
            $('.progress-bar-striped').css('width', value + '%');
            if (Math.round(value) == 100) {
                endAnkiety();
            }
        }

        function myFunction(numberOfClass, numberOfImage) {
            stopFade = false;

            var ja2 = document.getElementsByClassName("item")[numberOfClass].getElementsByTagName("img");
            for (var i = 0 ; i < ja2.length ; i++) {
                if (ja2[i].style.opacity == "1") {
                    ja2[i].style.opacity = "0.25";
                }
            }
            var array = ja2[numberOfImage].src.replace(/^.*[\\\/]/, '');
            arrayInput.push(array.replace(".png", ""));
            ja2[numberOfImage].style.opacity = "1";
            fejdIn();

        } function myFunction2(numberOfClass, numberOfImage) {
            stopFade = false;
            var ja2 = document.getElementsByClassName("item")[numberOfClass].getElementsByTagName("button");
           for (var i = 0; i < ja2.length; i++) {
               if (ja2[i].style.color == "red") {
                   ja2[i].style.color = "whitesmoke";
               }
           }
            ja2[numberOfImage].style.color = "red";
          
            $(ja2[numberOfImage]).effect("shake", { direction: "right", times: 4, distance: 10 }, 1000);
            arrayInput.push($(ja2[numberOfImage]).text());
           
            fejdIn();
        }

        function myFunction3(numberOfClass, numberOfImage) {
            stopFade = false;

            var element = document.getElementsByClassName("item")[numberOfClass]
                .getElementsByTagName("a");
            for (var i = 0; i < element.length; i++) {
                if ($(element[i]).attr('class') == 'btn btn-info btn-lg') 
                    $(element).removeClass();
            }
            $(element[numberOfImage]).addClass("btn btn-info btn-lg");

            if (numberOfImage == 0) arrayInput.push(1);
            else if (numberOfImage == 1) arrayInput.push(0);
            fejdIn();
        }

        function fejdIn() {
            if (stopFade == false) $('.carousel-control ').fadeIn(2000, fejdOut);
        }                             
                                      
                                      
        function fejdOut() {          
            if (stopFade == false) $('.carousel-control ').fadeOut(2000, fejdIn);

        }

        function endAnkiety() {
            //$.ajax({
            //    type: "GET",
            //    url: '/Home/Sessione',
            //    data: {age : "123",sex:"hehe"},
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json"
                
            //});
           // document.cookie = arrayInput[0] +"," + arrayInput[1];
            //Session
            //$.cookie("age", 111);
            //window.close();
            $.post('/Home/Sessione',
            {
                sex: arrayInput[0].toString(), age: arrayInput[1].toString(),
                education: arrayInput[2].toString(), lives: arrayInput[3].toString(),
                kind: arrayInput[4].toString(),  times: arrayInput[5].toString(),
                place: arrayInput[6].toString(), aggresive: arrayInput[7].toString(),
                hangover: arrayInput[8].toString()
            });
            window.open("Graph");
            //window.open("Graph?sex=" + arrayInput[0] + "&age=" + arrayInput[1]);


        }
    </script>




